@font-face {
   font-family: "Faith Collapsing";
   src: url("fonts/Faith Collapsing.woff") format("woff"), url("fonts/Faith Collapsing.eot") format("embedded-opentype"), url("fonts/Faith Collapsing.ttf") format("truetype"), url("fonts/Faith Collapsing.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}