@font-face {
   font-family: "Victorian Parlor Vintage Alternate_free";
   src: url("fonts/Victorian Parlor Vintage Alternate_free.woff") format("woff"), url("fonts/Victorian Parlor Vintage Alternate_free.eot") format("embedded-opentype"), url("fonts/Victorian Parlor Vintage Alternate_free.ttf") format("truetype"), url("fonts/Victorian Parlor Vintage Alternate_free.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}